.explanationbutton {
  align-items:center;
  background-color:rgb(91, 192, 222);
  border-color:rgb(70, 184, 218);
  border-radius:6px;
  border-style:solid;
  border-width:1px;
  box-sizing:border-box;
  color:rgb(255, 255, 255);
  cursor:pointer;
  display:inline-flex;
  font-family:"Open Sans", sans-serif;
  font-size:18px;
  font-stretch:100%;
  font-weight:400;
  height:46px;
  justify-content:center;
  letter-spacing:normal;
  line-height:24px;
  margin: 0px 0px 10px 0px;
  overflow-wrap:break-word;
  overflow-x:visible;
  overflow-y:visible;
  padding: 0 0 0 0;
  text-align:center;
  text-indent:0px;
  text-size-adjust:100%;
  touch-action:manipulation;
  user-select:none;
  vertical-align:middle;
  white-space:nowrap;
  width:150px;
  word-spacing:0px;
}

input[type=checkbox] {
  display: none;
}

.explanationbutton span:after {
  content: '∨';
  padding-left: 10px;
}

input:checked + .explanationbutton span:after {
  content: '∧';
  padding-left: 10px;
}

input:not(:checked) + .explanationbutton + div {
  display:none;
}

input:checked + .explanationbutton + div {
  display:block;
}

.explanation {
  background-color: rgb(217, 237, 247);
  border-color: rgb(188, 232, 241);
  border-radius: 4px;;
  border-style: solid;
  border-width: 1px;
  box-sizing:border-box;
  color:rgb(49, 112, 143);
  display:block;
  flex-basis:auto;
  flex-grow:0;
  flex-shrink:1;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height:20px;
  margin: 0px 0px 20px 0px;
  margin-block-end:20px;
  margin-block-start:0px;
  margin-inline-end:0px;
  margin-inline-start:0px;
  overflow-wrap:break-word;
  padding:15px;
  text-size-adjust:100%;
}


.week h2 {
  user-select:none;
  touch-action:manipulation;
  cursor: pointer;
}

input:not(:checked) + .week h2 span:after {
  content: '∨';
  padding-right: 5px;
}
input:checked + .week h2 span:after {
  content: '∧';
  padding-right: 5px;
}

input:not(:checked) + .week + div {
  display:none;
}

input:checked + .week + div {
  display:block;
}

ul.answersWithCheckbox {
   list-style: none;
}
ul.answersWithCheckbox li:before {
  content: '\2610\00a0\00a0';
}
ul.answersWithCheckbox li.correctAnswer:before {
  content: '\2714\00a0\00a0';
  color: darkgreen;
}
ul.answersWithCheckbox li.notCorrectAnswer:before {
  content: '\2718\00a0\00a0';
  color: darkred;
}
